  <div class="relative flex-grow flex-1 border-2 px-6 pb-6 pt-12 border-green">
    <%= tag.h3 @title, class: ["absolute left-4 -top-5 text-typography text-xl tracking-tight font-bold font-heading leading-relaxed px-3 bg-gray-50", "w-52": !@xl_title, "w-64": @xl_title] %>
    <%= tag.p @text, class: "mt-4 mx-1 text-typography leading-loose font-light" %>
  </div>
