<div class="text-center">
  <%= inline_svg_tag "icons/outline/bell.svg", class: "mx-auto h-6 w-6 text-gray-400" %>
  <h3 class="mt-2 text-sm font-medium text-gray-900"><%= t(".title") %></h3>
  <p class="mt-1 text-sm text-gray-500"><%= t(".body") %></p>
</div>
