<%= link_to scheduling_link, target: "_blank", class: "inline-flex items-center text-sm text-gray-500 hover:text-gray-900" do %>
  <div class="flex-shrink-0">
    <%= inline_svg_tag "icons/outline/calendar_days.svg", class: "h-4 w-4" %>
  </div>
  <div class="ml-1">
    <%= t(".title") %>
  </div>
<% end %>
