<div data-controller="page-scroll">
  <%= form.label :body, t(".help"), class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= form.text_area :body, rows: 4, required: true, autofocus: true, data: {action: "keydown->form#submit"}, class: field_classes(form, :body) %>
  </div>

  <div class="py-2 flex justify-end">
    <div class="shrink-0">
      <%= render SubmitButtonComponent.new(text: t(".submit"), disable_with: t(".sending")) %>
    </div>
  </div>
</div>
