<% if developer.avatar.attached? %>
  <%= image_tag developer.avatar, alt: "Developer's avatar", data: local_assigns[:data] || {}, class: "object-cover h-24 w-24 bg-gray-300 rounded-full ring-4 ring-white sm:h-32 sm:w-32" %>
<% else %>
  <div class="relative h-24 w-24 rounded-full ring-4 ring-white overflow-hidden bg-gray-100 sm:h-32 sm:w-32">
    <%= inline_svg_tag "icons/avatar.svg", class: "relative z-10 h-full w-full text-gray-300" %>
    <%= image_tag "", alt: "Developer's avatar", data: local_assigns[:data] || {}, class: "hidden z-10 absolute top-0 object-cover h-24 w-24 bg-gray-300 rounded-full ring-4 ring-white sm:h-32 sm:w-32" %>
  </div>
<% end %>
