<%= render PagyPaginatorComponent.new(id: "developers", pagy: query.pagy, url_array: [:developers], container_classes: "divide-y divide-gray-200", options: query.filters) do |component| %>
  <% component.loading_icon do %>
    <div class="py-4">
      <%= render LoadingComponent.new %>
    </div>
  <% end %>
  <%= render DeveloperCardComponent.with_collection(query.records) %>
<% end %>
