<div data-controller="pagination">
  <ul id="developers" data-pagination-target="entries" role="list" class="space-y-8 bg-gray-100">
    <%= render @developers %>
  </ul>

  <%= pagy_links do %>
    <%== pagy_nav @pagy %>
  <% end %>
</div>