<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
    <span class="block text-gray-600"><%= t(".title") %></span>
    <span class="block"><%= t(".subtitle") %></span>
  </h2>
  <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
    <div class="inline-flex rounded-md shadow">
      <a href="#plans" class="bg-gray-600 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-gray-700"><%= t(".cta") %></a>
    </div>
  </div>
</div>
