<div class="pt-12 sm:pt-16 lg:pt-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl"><%= t(".title") %></h1>
      <p class="mt-4 text-xl text-gray-600"><%= t(".description") %></p>
    </div>
  </div>
</div>
