<div class="flex items-start col-span-1">
  <div class="flex-shrink-0 flex items-center justify-center h-14 w-14 rounded-full bg-salmon-light">
    <%= inline_svg_tag svg_path, class: "h-5 w-5 text-salmon" %>
  </div>
  <div class="ml-6">
    <%= tag.dt title, class: "text-xl tracking-wide font-semibold text-typography mt-1.5" %>
    <%= tag.dd description, class: "text-lg font-light leading-7 mt-4"%>
  </div>
</div>
