<div class="bg-gray-800 relative">
  <div class="max-w-6xl mx-auto px-6 md:px-12">
    <div class="flex flex-wrap -mx-6 md:-mx-12">
      <div class="flex flex-col px-12 py-16 lg:py-24 w-full sm:w-1/2 sm:border-r border-gray-900">
        <div class="flex flex-grow">
          <div class="flex flex-col">
            <blockquote class="text-white italic mt-1 md:text-xl relative">
              <div class="absolute pin-t pin-l -mt-2 -ml-2">
                <svg class="w-8 h-8" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.264 19.552C15.264 23.2 17.664 25.12 20.352 25.12C23.328 25.12 26.112 22.624 26.112 19.456C26.112 16.864 24.288 15.136 22.08 15.136C21.888 15.136 21.408 15.136 21.312 15.136C22.368 12.064 25.824 8.8 29.376 7.072L26.4 4C20.448 6.976 15.264 13.504 15.264 19.552ZM0 19.552C0 23.2 2.304 25.12 5.088 25.12C8.064 25.12 10.848 22.624 10.848 19.456C10.848 16.864 8.928 15.136 6.72 15.136C6.528 15.136 6.048 15.136 5.952 15.136C7.008 12.064 10.56 8.8 14.016 7.072L11.136 4C5.184 6.976 0 13.504 0 19.552Z" class="fill-current text-gray-600"></path>
                </svg>
              </div>
              <p class="relative">With railsdevs I'm able to focus on getting my product to market instead of spending hours finding developers.</p>
            </blockquote>
            <div class="pt-6 mt-auto">
              <div class="flex items-start md:items-center justify-between">
                <div class="flex items-start md:items-center">
                  <%= image_tag "testimonials/stefan.png", class: "w-12 h-12 rounded-full border-2 border-white shadow-lg", alt: "A photo of Stefan Manku looking trustworthy" %>
                  <div class="pl-4">
                    <div class="text-white uppercase font-semibold tracking-wider text-sm">Stefan Manku</div>
                    <div class="text-gray-200 text-sm">Founder, <a href="https://dietarymenu.com" class="hover:underline">Dietary Menu</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col px-12 py-16 lg:py-24 w-full sm:w-1/2 sm:border-l border-gray-900 border-t-2 sm:border-0">
        <div class="flex flex-grow">
          <div class="flex flex-col">
            <blockquote class="text-white italic mt-1 md:text-xl relative">
              <div class="absolute pin-t pin-l -mt-2 -ml-2">
                <svg class="w-8 h-8" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.264 19.552C15.264 23.2 17.664 25.12 20.352 25.12C23.328 25.12 26.112 22.624 26.112 19.456C26.112 16.864 24.288 15.136 22.08 15.136C21.888 15.136 21.408 15.136 21.312 15.136C22.368 12.064 25.824 8.8 29.376 7.072L26.4 4C20.448 6.976 15.264 13.504 15.264 19.552ZM0 19.552C0 23.2 2.304 25.12 5.088 25.12C8.064 25.12 10.848 22.624 10.848 19.456C10.848 16.864 8.928 15.136 6.72 15.136C6.528 15.136 6.048 15.136 5.952 15.136C7.008 12.064 10.56 8.8 14.016 7.072L11.136 4C5.184 6.976 0 13.504 0 19.552Z" class="fill-current text-gray-600"></path>
                </svg>
              </div>
              <div class="relative">I did in days what it took me weeks to do on other platforms.</div>
            </blockquote>
            <div class="pt-6 mt-auto">
              <div class="flex items-start md:items-center justify-between">
                <div class="flex items-start md:items-center">
                  <%= image_tag "testimonials/sean.png", class: "w-12 h-12 rounded-full border-2 border-white shadow-lg", alt: "A photo of Sean Murphy looking trustworthy" %>
                  <div class="pl-4">
                    <div class="text-white uppercase font-semibold tracking-wider text-sm">Sean Murphy</div>
                    <div class="text-gray-200 text-sm">Founder, <a href="https://hythere.co" class="hover:underline">HyThere</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
