<%= open_graph_tags title: t(".title_og") %>

<div class="max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
  <div class="max-w-xl mx-auto py-16 sm:py-24">
    <div class="text-center">
      <h1 class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight"><%= t(".title") %></h1>
      <p class="mt-2 text-gray-500"><%= t(".description") %></p>
    </div>
  </div>
</div>
