<div class="text-sm">
  <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name), class: "font-medium text-gray-600 hover:text-gray-500" %>
</div>
