<p class="mt-2 text-center text-sm text-gray-600">
  <%= t "registrations.sign_up_html", link: link_to(t("registrations.create_account"), new_registration_path(resource_name), class: "font-medium text-gray-600 hover:text-gray-500") %>
</p>
