<p class="mt-2 text-center text-sm text-gray-600">
  <%= t("sessions.sign_in_link_html", link: link_to(t("sessions.sign_in_link"), new_user_session_path, class: "font-medium text-gray-600 hover:text-gray-500")) %>
</p>
