<div class="sm:col-span-1">
  <dt class="text-sm font-medium text-gray-500">
    <%= @title %>
  </dt>
  <dd class="flex mt-1 text-sm text-gray-900">
    <%= number_to_currency @amount %>
  </dd>
</div>
