<li class="py-6 flex">
  <%= image_tag recipient_avatar, alt: "Recipient avatar", class: "h-10 w-10 rounded-full" %>
  <div class="ml-3">
    <%= content_tag :p, recipient_header, class: "text-sm font-medium text-gray-900" %>
  </div>
</li>
