<div class="mt-4 flex space-x-3 md:mt-0">
  <%= link_to path, class: "inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
    <%= inline_svg_tag icon, class: "-ml-1 mr-2 h-5 w-5" %>
    <%= cta %>
  <% end %>
</div>
