<%= link_to url, target: "_blank", class: "flex items-center space-x-2" do %>
  <%= inline_svg_tag icon, class: "h-5 w-5 text-gray-400" %>
  <span class="text-gray-900 text-sm font-medium"><%= handle %></span>
<% end %>
