<div class="p-4">
  <div class="bg-gray-50 w-full border-2 border-gray-300 border-dashed rounded-lg py-6 sm:py-12 px-4 sm:px-10 text-center">
    <h3 class="text-2xl font-medium text-gray-900"><%= t(".title") %></h3>
    <p class="mt-2 text-lg text-gray-600"><%= t(".description", developers:) %></p>
    <div class="mt-6">
      <%= link_to t(".cta", developers:), pricing_path, class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-12 py-3 text-lg font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
</div>
