<div class="absolute top-0 left-0 right-0 bottom-0 backdrop-blur-sm bg-white/30 flex items-center justify-center">
  <div class="w-full max-w-xl text-center sm:mx-4 px-8 sm:px-12 py-8 bg-white sm:rounded-xl shadow-lg">
    <h3 class="text-xl sm:text-2xl font-medium text-gray-900"><%= t(".title") %></h3>
    <p class="mt-2 text-lg text-gray-600"><%= t(".description", developers:) %></p>
    <div class="mt-6">
      <%= link_to t(".cta", developers:), pricing_path, class: "inline-flex items-center rounded-md bg-indigo-600 px-3.5 py-1.5 border border-transparent text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
</div>
