<li class="flex items-start lg:col-span-1">
  <div class="flex-shrink-0">
    <%= inline_svg_tag "icons/solid/check_circle.svg", class: "h-5 w-5 text-green-500" %>
  </div>
  <p class="ml-3 text-sm text-gray-700"><%= title %></p>
</li>
