<% return unless render_content? %>

<div data-controller="toggle" data-toggle-visibility-class="hidden" class="relative flex ml-1" data-action="mouseover->toggle#toggle mouseout->toggle#toggle">
  <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" data-action="toggle#toggle" aria-expanded="false" aria-haspopup="true">
    <%= inline_svg_tag "icons/solid/check_circle.svg", class: "h-5 w-5 text-green-400" %>
  </button>

  <div data-toggle-target="element" class="hidden origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
    <p class="text-xs">Read at <%= @message.read_at %></p>
  </div>
</div>
