<p>Hey <%= @developer.first_name %>,</p>
<p>I'm Joe, the founder of RailsDevs. Congratulations on your first message today!</p>
<p>Here are some tips to make the most of conversations on RailsDevs:</p>
<ol>
  <li>Respond to every business, even to let them know you're not interested.</li>
  <li>Don't be afraid to ask for salary or rate early in the process.</li>
  <li>Start by letting them know why you are a great fit for the role.</li>
</ol>
<p>Keep communication on RailsDevs. It helps me act if anyone is abusing the system.</p>
<p>And let me know when you land a gig and I'll send you some <b>swag</b>!</p>
<%= render "shared/signature" %>
