<p>Hey, <%= @developer.first_name %>,</p>
<p>I'm Joe, the solo-founder of railsdevs. You received your first message from a business today. Congratulations!</p>
<p>Here are some tips to make the most of the conversation:</p>
<ol>
  <li>Respond to every message. Let a business know if you aren't interested.</li>
  <li>Don't be afraid to ask for salary or budget early in the process.</li>
  <li>Feel free to move the conversation to video chat to get to know each other.</li>
  <li>Finally, when you land your first gig let me know by responding to this email!</li>
</ol>
<p>Don't hesitate to reach out if you run into issues or need help using railsdevs.</p>
<%= render "shared/signature" %>
