<p>Hey <%= @developer.name %>,</p>

<p>
  I'm Joe, the founder of <%= link_to "railsdevs", root_url %>. <%= link_to "Your developer profile", developer_url(@developer) %> was flagged because it doesn't contain enough information and kind of looks like spam.
</p>

<p>
  I've set your profile to invisible. No one but yourself will be able to see it. You can toggle this back when you flesh out your profile a bit more.
</p>

<p>
  Thanks,<br />
  Joe
</p>
