<p>Hey <%= @developer.first_name %>,</p>
<p>I'm Joe, the founder of <%= link_to "railsdevs", root_url %>. <%= link_to "Your developer profile", notification_url(@notification.record) %> was flagged because it doesn't contain enough information and kind of looks like spam.</p>
<p>I've set your profile to invisible – only you can see it. You can toggle this back to visible after you add more details to your profile.</p>
<%= render "shared/signature" %>
