<p>Hey <%= @developer.first_name %>,</p>
<p>Joe here, founder of RailsDevs, with an exciting announcement (watch <a href="https://x.com/joemasilotti/status/1778832451663802585">on Twitter</a>).</p>
<p>Developers can now add up to 5 <i>specialties</i> to their profile. Specialties are a new way to <b>share what you are passionate about with hiring businesses</b>.</p>
<p>You don't need to be an expert (yet!). Specialties let businesses know what you do best - what sets you apart from other developers.</p>
<p>Businesses will soon be able to filter profiles by these tags. And developers with specialties will appear at the top of search results.</p>
<p>So make sure to add <%= link_to "your specialties", notification_url(@notification.record) %> as soon as possible!</p>
<p>If you need help tweaking your profile or specialties let me know by hitting reply.</p>
<%= render "shared/signature" %>
<p><small><%= link_to "Update my email notification settings", edit_developer_url(@developer, anchor: "notifications") %>.</small></p>
