<body>
  <p>Hey <%= @developer.name %>,</p>
  <p>I'm Joe, the founder of <%= link_to "railsdevs", root_url %>. I saw that you added your developer profile and wanted to reach out.</p>
  <p>What does your ideal next role look like?</p>
  <p>
    Joe Masilotti<br>
    <%= mail_to Rails.configuration.support_email %><br>
    Founder of <%= link_to "railsdevs", root_url %>
  </p>
</body>
