<p>Hey <%= @developer.first_name %>,</p>
<p>I'm Joe, the solo-founder of <%= link_to "railsdevs", notification_url(@notification.record) %>. Thanks for adding your profile!</p>
<p>Here are some tips for increasing your chances of getting contacted by a business:</p>
<ol>
  <li>Fill out as much of your profile as possible.</li>
  <li>Use your bio to share your unique experience as a Rails developer.</li>
  <li>This is your chance to sell yourself - brag a little!</li>
</ol>
<p>Reply to this email if you'd like help improving your profile or run into any issues using railsdevs.</p>
<%= render "shared/signature" %>
