<%= render EmptyStateComponent.new(title: t(".title"), body: t(".body"), icon: "icons/outline/inbox.svg") %>

<div class="mt-6 text-center">
  <%= link_to developers_path, class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
    <%= inline_svg_tag "icons/solid/search.svg", class: "-ml-1 mr-2 h-5 w-5" %>
    <%= t(".cta") %>
  <% end %>
</div>
