<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full overflow-hidden">
  ```
-->
<div class="min-h-screen flex items-stretch lg:py-8">
  <!-- Primary column -->
  <section aria-labelledby="primary-heading" class="min-w-0 relative flex-1 bg-white rounded-r-xl shadow lg:order-last">
    <h1 id="primary-heading" class="sr-only">Messages</h1>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-4">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-4">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Tom Cook
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <ul role="list" class="flex flex-col items-start bg-gray-50 w-full h-96 px-8 py-4 space-y-4 text-sm text-justify overflow-y-scroll lg:px-16">
      <li class="flex-shrink-0 bg-gray-200 text-gray-900 shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Elit elit sit sunt pariatur enim. Eiusmod pariatur excepteur aute fugiat adipisicing mollit magna.
      </li>
      <li class="flex-shrink-0 self-end bg-blue-700 text-white shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Qui minim dolor aute anim officia magna cupidatat ea fugiat. Magna aute tempor mollit aliqua dolor ea exercitation id adipisicing. Adipisicing ipsum esse enim sunt pariatur culpa. Mollit laborum non ad reprehenderit pariatur veniam nisi exercitation in. Esse ea nisi esse eu laboris velit duis et duis velit pariatur nulla velit ex.
      </li>
      <li class="flex-shrink-0 bg-gray-200 text-gray-900 shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Officia officia.
      </li>
      <li class="flex-shrink-0 bg-gray-200 text-gray-900 shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Sint quis ullamco velit nisi id velit in enim tempor.
      </li>
      <li class="flex-shrink-0 bg-gray-200 text-gray-900 shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Elit elit sit sunt pariatur enim. Eiusmod pariatur excepteur aute fugiat adipisicing mollit magna.
      </li>
      <li class="flex-shrink-0 self-end bg-blue-700 text-white shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Qui minim dolor aute anim officia magna cupidatat ea fugiat. Magna aute tempor mollit aliqua dolor ea exercitation id adipisicing. Adipisicing ipsum esse enim sunt pariatur culpa. Mollit laborum non ad reprehenderit pariatur veniam nisi exercitation in. Esse ea nisi esse eu laboris velit duis et duis velit pariatur nulla velit ex.
      </li>
      <li class="flex-shrink-0 bg-gray-200 text-gray-900 shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Officia officia.
      </li>
      <li class="flex-shrink-0 bg-gray-200 text-gray-900 shadow overflow-hidden rounded-lg max-w-md py-2 px-4">
        Sint quis ullamco velit nisi id velit in enim tempor.
      </li>
      <!-- More items... -->
    </ul>

    <div class="flex items-start bg-white border-t border-gray-200 space-x-4 pt-6 pb-10 px-4 lg:px-10">
      <div class="hidden md:flex-shrink-0 md:block">
        <img class="inline-block h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      </div>
      <div class="min-w-0 flex-1">
        <form action="#" class="relative">
          <div class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
            <label for="comment" class="sr-only">Add your comment</label>
            <textarea rows="3" name="comment" id="comment" class="block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm" placeholder="Add your comment..."></textarea>

            <!-- Spacer element to match the height of the toolbar -->
            <div class="py-2" aria-hidden="true">
              <!-- Matches height of button in toolbar (1px border + 36px content height) -->
              <div class="py-px">
                <div class="h-9"></div>
              </div>
            </div>
          </div>

          <div class="absolute bottom-0 inset-x-0 pl-3 pr-2 py-2 flex justify-end">
            <div class="flex-shrink-0">
              <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Post
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- Secondary column (hidden on smaller screens) -->
  <aside class="hidden rounded-l-xl shadow lg:block lg:flex-shrink-0 lg:order-first">
    <div class="relative flex flex-col w-80 h-full px-4 pt-4 bg-white border-r border-gray-200 rounded-l-xl overflow-y-auto">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <ul role="list" class="divide-y divide-gray-200">
        <li class="py-6 flex">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">Calvin Hawkins</p>
            <p class="text-sm text-gray-500">calvin.hawkins@example.com</p>
          </div>
        </li>

        <li class="py-6 flex">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">Kristen Ramos</p>
            <p class="text-sm text-gray-500">kristen.ramos@example.com</p>
          </div>
        </li>

        <li class="py-6 flex">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">Ted Fox</p>
            <p class="text-sm text-gray-500">ted.fox@example.com</p>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>
