<div id="prompt-response-empty" class="flex-col items-center text-center mt-8">
  <%= inline_svg_tag "prompt_empty_state", class: "h-36 w-36 mx-auto" %>
  <%= tag.h3 t(".headline"), class: "mt-2 text-sm font-medium text-gray-900" %>
  <%= tag.p t(".cta"), class: "mt-1 text-sm text-gray-500" %>
</div>
