<div class="text-center">
  <%= inline_svg_tag "icons/outline/inbox.svg", class: "mx-auto h-12 w-12 text-gray-400" %>
  <h3 class="mt-2 text-sm font-medium text-gray-900"><%= t(".title") %></h3>
</div>
