<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <h1 class="mt-6 text-center text-3xl font-extrabold"><%= t(".title") %></h1>

  <div class="max-w-2xl mx-auto mt-8 w-full">
    <%= render "stats", stats: @stats %>
  </div>
</div>
