<div class="flex items-center text-gray-900">
  <% if available? %>
    <%= inline_svg_tag "icons/solid/check_circle.svg", class: "h-5 w-5 text-green-500" %>
  <% elsif show_unavailable_icon? %>
    <%= inline_svg_tag "icons/solid/x_circle.svg", class: "h-5 w-5 text-gray-500" %>
  <% end %>

  <span class="ml-2 text-sm font-medium <%= "text-green-700" if available? %>">
    <%# i18n-tasks-use t('developers.availability_component.in_future_html') %>
    <%# i18n-tasks-use t('developers.availability_component.now_html') %>
    <%# i18n-tasks-use t('developers.availability_component.unspecified_html') %>
    <%= t(".#{developer.availability_status}_html", date: date, date_in_words: date_in_words) %>
  </span>
</div>
