<div class="relative bg-gray-100 border-b">
  <div class="max-w-7xl mx-auto py-4 px-3 sm:px-6 lg:px-8">
    <div class="sm:text-center sm:px-16">
      <p class="text-gray-600">
        <span><%= t(".title_html", count:, total: total) %></span>
        <span class="ml-2"><%= link_to t(".cta"), developers_path, class: "text-gray-700 underline" %></span>
      </p>
    </div>
  </div>
</div>
