<% if large? %>
  <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-blue-100 text-blue-800 ml-1.5"> <%= t(".new") %> </span>
<% else %>
  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 ml-1"> <%= t(".new") %> </span>
<% end %>
