<div class="flex items-center space-x-2">
  <%= icon_tag %>

  <%= tag.span class: ["text-sm font-medium", "text-green-700": developer.actively_looking?, "text-gray-900": !developer.actively_looking?] do %>
    <%= humanize developer.search_status %>
  <% end %>
</div>
