<div class="bg-red-500">
  <div class="max-w-5xl mx-auto py-3 px-3">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <span class="flex p-2 rounded-lg bg-red-800">
          <%= inline_svg_tag "icons/outline/exclamation.svg", class: "h-6 w-6 text-white" %>
        </span>
        <p class="ml-3 font-medium text-white truncate">Run <code>bin/rails db:seed</code> to create development data.</p>
      </div>
    </div>
  </div>
</div>
