<p><%= @business.contact_name %>,</p>

<p>Here are the newest developer profiles on railsdevs:</p>

<ul>
  <% @developers.each do |developer| %>
    <li><b><%= link_to developer.hero, developer %></b>: <%= developer.bio %></li>
  <% end %>
</ul>

<small><%= link_to "Update my email notification settings", edit_business_url(@business) %>.</small>
