<h1>New developers at Railsdevs.com!</h1>

<p><%= @business.name %>,</p>
<p>Here's your digest of new developers available for hire at Railsdevs.com:</p>
<hr />
<% @developers.each do |dev| %>
  <p><%= link_to dev.name, dev %>: <%= dev.hero %></p>
  <hr />
<% end %>
<small>Tired of receiving these emails? <%= link_to "Unsubscribe", edit_business_url(@business) %></small>
