<p>Hey <%= @business.first_name %>,</p>

<p>I wanted to let you know that after nearly four years, I'm shutting down RailsDevs.</p>

<p>It's been a great ride - thousands of developers signed up, dozens of companies hired through the platform, and I had the privilege of watching new teams and products come to life.</p>

<p>Thank you for being a part of it, whether you hired someone, messaged a developer, or just created an account. Even if we didn't work together directly, your interest helped shape the platform and push it forward.</p>

<p>If you want to stay connected then please <%= link_to "send me an email", "mailto:joe@masilotti.com" %>.</p>

<p>Thanks again for being part of the journey.</p>

<%= render "shared/signature" %>
