<p>Hey <%= @business.first_name %>,</p>
<p>Joe here, founder of RailsDevs, with a small request.</p>
<p>As someone who has used the platform, your feedback is valuable to RailsDevs.</p>
<p>So I'd love to know: <b>Why did you choose RailsDevs to hire over other platforms or recruiters?</b></p>
<p>Please reply here with your answer - your feedback will directly influence what's next for RailsDevs.</p>
<%= render "shared/signature" %>
<p><small>P.S. Add your mailing address and I'll send you some swag to say thank you!</small></p>
