<body>
  <p>Hey <%= @business.name %>,</p>
  <p>I'm Joe, the founder of <%= link_to "railsdevs", root_url %>. I saw that you added your business and wanted to reach out. If there's anything I can do to make your search easier let me know.</p>
  <p>What are you looking for in a Rails developer?</p>
  <p>
    Joe Masilotti<br>
    <%= mail_to Rails.configuration.support_email %><br>
    Founder of <%= link_to "railsdevs", root_url %>
  </p>
</body>
