<%= render Developers::BannerComponent.new([
      Developers::UnseededWarningComponent.new(seedable: Rails.env.development?),
      Developers::InvisibleBannerComponent.new(current_user),
      Developers::NewFieldsComponent.new(current_user, enabled: Feature.enabled?(:new_developer_fields_banner, user: current_user))
    ]) %>
<%= render "shared/flash" %>

<main class="mx-auto">
  <%= yield %>
</main>
