<main class="-mt-32">
  <div class="max-w-5xl mx-auto pb-12 sm:px-6 lg:px-8">
    <%= render "shared/flash" %>

    <div class="bg-white overflow-hidden sm:rounded-md">
      <%= yield %>
    </div>
  </div>
</main>
