<%= render NewDeveloperFieldsComponent.new(current_user, enabled: Feature.enabled?(feature_name: :new_developer_fields_banner)) %>
<%= render "shared/flash" %>

<main class="mx-auto">
  <%= yield %>
</main>
