<%= render NewDeveloperFieldsComponent.new(current_user, enabled: Feature.enabled?(:new_developer_fields_banner)) %>
<div id="flashes">
  <%= render "shared/flash" %>
</div>

<main class="mx-auto">
  <%= yield %>
</main>
