<p>
  <%= Rails.configuration.strings.founder_name %><br>
  <%= mail_to Rails.configuration.strings.founder_email %><br>
  Founder of <%= link_to Rails.configuration.strings.project_name, root_url %>
</p>
