<div class="max-w-6xl h-[30rem] mx-auto -mt-48 grid grid-flow-col grid-cols-3 grid-rows-3 gap-6">
  <div class="col-span-1 row-span-1 bg-salmon"></div>
  <div class="bg-gray-300 col-span-1 row-span-2">
    <%# Image placeholder %>
  </div>
  <div class="bg-gray-300 col-span-1 row-span-2">
    <%# Image placeholder %>
  </div>
  <div class="col-span-1 row-span-1 bg-navy"></div>
  <div class="col-span-1 row-span-1 bg-green"></div>
  <div class="bg-gray-300 col-span-1 row-span-2">
    <%# Image placeholder %>
  </div>
</div>
