<section class="bg-gray-700 my-24 lg:my-32">
  <div class="max-w-7xl mx-auto md:grid md:grid-cols-2 md:px-6 lg:px-8">
    <div class="py-8 px-4 sm:px-6 md:flex md:flex-col md:pl-0 md:pr-10 md:border-r md:border-gray-700 lg:pr-16">
      <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
        <div class="relative text-lg font-medium text-white md:flex-grow">
          <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-500" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">New opportunities from railsdevs have allowed me to work with veteran Rails developers who are greatly improving my skills.</p>
        </div>
        <div class="mt-6">
          <div class="flex items-center">
            <div class="flex-shrink-0 inline-flex rounded-full border-4 border-white">
              <%= image_tag "moses.png", alt: "Moses", class: "h-24 w-24 rounded-full" %>
            </div>
            <div class="ml-6">
              <div class="text-xl font-medium text-white">Moses</div>
              <div class="text-xl font-medium text-gray-200">Ruby, Rails &amp; Stimulus Lover</div>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="py-8 px-4 border-t-2 border-gray-700 sm:px-6 md:pr-0 md:pl-10 md:border-t-0 md:border-l lg:pl-16">
      <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
        <div class="relative text-lg font-medium text-white md:flex-grow">
          <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-500" fill="currentColor" viewBox="0 0 32 32">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">Shortly after signing up I was messaged to help work on a Rails app. Being from South Africa, the ability to have access to a wide spectrum of global clients is truly awesome!</p>
        </div>
        <div class="mt-6">
          <div class="flex items-center">
            <div class="flex-shrink-0 inline-flex rounded-full border-4 border-white">
              <%= image_tag "dominic.jpg", alt: "Dominic", class: "h-24 w-24 rounded-full" %>
            </div>
            <div class="ml-6">
              <div class="text-xl font-medium text-white">Dominic</div>
              <div class="text-xl font-medium text-gray-200">Ruby On Rails Engineer</div>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>
