<%= turbo_frame_tag params[:turbo_frame] do %>
  <% if params[:query].present? && @specialties.any? %>
    <ul role="listbox"
        data-combobox-target="list"
        data-action="combobox-commit->combobox#commit"
        class="absolute mt-1 z-10 max-h-60 w-full left-0 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm top-full"
    >
      <% @specialties.each do |specialty| %>
        <li class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900" role="option" tabindex="-1">
          <%= tag.div highlight(specialty.name, @query),
            # "#",
            id: dom_id(specialty, :search_result),
            role: "option",
            class: "aria-selected:outline-black",
            data: {
              action: "click->dropdown-pill#onSpecialityClick",
              value: specialty.id
            }
          %>
        </li>

      <% end %>
    </ul>
  <% end %>
<% end %>
