<div class="overflow-hidden max-w-5xl mx-auto">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="lg:mt-8 max-w-prose prose prose-gray text-gray-500 mx-auto">
      <%= render MarkdownComponent.code_of_coduct %>
    </div>
  </div>
</div>
