<div class="mt-8 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <% headers.each do |header| %>
                <%= header %>
              <% end %>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200 bg-white">
            <% rows.each do |row| %>
              <%= row %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
