<p><b><%= link_to @business.contact_name, "mailto:#{@business.user.email}" %></b> added their <%= link_to "business", notification_url(@notification.record) %>!</p>

<% if @business.referring_user_email.present? %>
  <p>Referred by <%= @business.referring_user_email %></p>
<% end %>
