<p><b><%= link_to @developer.name, "mailto:#{@developer.user.email}" %></b> may have been hired!</p>

<ul>
  <li><b>Conversations</b>: <%= @conversations %></li>
  <li><b>Replies</b>: <%= @replies %></li>
</ul>

<%= link_to "View conversations", notification_url(@notification.record) %>
