<p><b><%= link_to @developer.name, notification_url(@notification) %></b> may have been hired!</p>

<ul>
  <li><b>Conversations</b>: <%= @conversations %></li>
  <li><b>Replies</b>: <%= @replies %></li>
</ul>
