<div class="mt-8 sm:px-6">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900"><%= title %></h3>

      <% if description.present? %>
        <p class="mt-1 text-sm text-gray-500"><%= description %></p>
      <% end %>
    </div>

    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <% descriptions.each do |description| %>
          <%= description %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
