<div class="w-full max-w-xl mx-auto">
  <div class="flex justify-end">
    <%= cta %>
  </div>

  <ul class="rounded-lg overflow-hidden border border-gray-200 divide-y divide-gray-200 mt-4">
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
</div>
