<div class="relative bg-white pt-5 px-4 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden">
  <dt>
    <div class="absolute bg-gray-500 rounded-md p-3">
      <%= inline_svg_tag "icons/outline/#{icon}.svg", class: "h-6 w-6 text-white", aria_hidden: true %>
    </div>
    <p class="ml-16 text-sm font-medium text-gray-500 truncate"><%= title %></p>
  </dt>

  <dd class="ml-16 pb-6 flex items-baseline">
    <p class="text-2xl font-semibold text-gray-900"><%= value %></p>
    <% if secondary_value.present? %>
      <p class="ml-2 flex items-baseline text-sm text-gray-700"><%= secondary_value %></p>
    <% end %>
  </dd>
</div>
