<div>
  <%= form.label field, label, class: "block text-sm font-medium text-gray-700" %>
  <%= tag.div class: "mt-1 relative rounded-md shadow-sm" do %>
    <%= input %>
  <% end %>

  <% if help.present? %>
    <p class="mt-2 text-sm text-gray-500"><%= help %></p>
  <% end %>
</div>
