<div class="flex justify-end">
  <div class="flex items-center justify-center space-x-2 text-sm">
    <% if show_read? %>
      <%= inline_svg_tag "icons/solid/check.svg", class: "h-5 w-5 text-green-600", aria_hidden: true %>
      <p class="text-gray-500"><%= t(".read") %></p>
    <% else %>
      <p class="text-gray-500"><%= t(".unread") %></p>
    <% end %>
  </div>
</div>
