<%%= tag.tr id: dom_id(<%= singular_name %>) do %>
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
      <%%= <%= singular_name %>.<%= attribute.column_name %> %>
    </td>
  <% end %>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium space-x-4">
    <%%= link_to "Edit", <%= edit_helper(type: :path) %>, class: "text-gray-600 hover:text-gray-900" %>
  </td>
<%% end %>
