<p><%= @sender %> sent you <%= link_to "a message", notification_url(@notification.record) %>:</p>

<blockquote><%== @message.body_html %></blockquote>

<p><small>You can continue the conversation by replying to this email.<br>Please remove your signature before sending.</small></p>
