<div class="max-w-5xl mx-auto">
  <%= render "shared/error_messages", resource: @transaction %>

  <div class="mt-8 lg:mt-16 flex flex-col space-y-6">
    <h1 class="text-3xl font-bold leading-tight text-gray-900 mx-4 lg:mx-0">
      New expense or contribution
    </h1>

    <%= render "form", transaction: @transaction %>
  </div>
</div>
