<div class="w-full flex items-center justify-between text-sm">
  <span class="px-2 py-3 font-medium text-gray-900"><%= title %></span>

  <%= link_to pricing_path, class: "group flex items-center bg-gray-50 max-w-sm border border-gray-300 hover:border-gray-400 border-dashed rounded-lg p-1.5 px-2.5" do %>
    <%= inline_svg_tag "icons/solid/lock_closed.svg", class: "h-4 w-4 text-gray-400 group-hover:hidden", aria_hidden: true %>
    <%= inline_svg_tag "icons/solid/lock_open.svg", class: "h-4 w-4 text-gray-500 rotate-[-8deg] transition hidden group-hover:block", title: t(".title"), aria_hidden: true %>
  <% end %>
</div>
