@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/overrides";

@import "components/pagy";

button .show-when-disabled {
  display: none;
}
button:disabled .show-when-disabled {
  display: initial;
}

button .show-when-enabled {
  display: initial;
}
button:disabled .show-when-enabled {
  display: none;
}
