@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("DMSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("DMSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("DMSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("Poppins-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("SourceCodePro-Regular.woff2") format("woff2");
}
