<div class="flex items-center space-x-2">
  <%= inline_svg_tag "icons/solid/clock.svg", class: "h-5 w-5 text-gray-400" %>
  <span class="text-gray-900 text-sm font-medium"><%= time_zone %> (<%= render UTCOffsets::Component.new(utc_offset) %>)</span>
</div>
