<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">
    <table border="0" cellspacing="0" width="100%">
      <tr>
        <td width="600"><%= yield %></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
